<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Weneedfeed</title>
  </head>
  <body>
    <section>
      <header>
        <h1>Feeds</h1>
      </header>
      <ul>
        <% @page_schemata.each do |page_schema| %>
        <li>
          <a href="<%= feed_path(page_id: page_schema.id) %>"><%= page_schema.title %></a>
        </li>
        <% end %>
      </ul>
    </section>
    <section>
      <header>
        <h1>Others</h1>
      </header>
      <ul>
        <li><a href="<%= opml_path %>">OPML</a></li>
      </ul>
    </section>
  </body>
</html>
