<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Weneedfeed</title>
  </head>
  <body>
    <ul>
      <% @pages.each do |page_name, hash| %>
      <li>
        <a href="<%= feed_path(page_name: page_name) %>"><%= hash['title'] %></a>
      </li>
      <% end %>
    </ul>
  </body>
</html>
